.features{
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.features-section{
    position: relative;
}
.features-section::before{
    width: 100%;
    height:170%;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: radial-gradient(circle at 0% 50%, #81afdd3a 0%, #00285300 30%);
}
.features .heading{
    width: 70%;
    margin:0 auto 80px;
    text-align: center;
}
.features .heading h3{
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 600;
}
.features .heading p{
    font-size: 0.8rem;
}
.features .feat-cont{
    padding: 0 10px;
}
.features .feat{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.features .feat h4{
    font-size: 0.9rem;
    margin-bottom: 15px;
    flex: 1;
    margin-right: 20px;
}
.features .feat p{
    color: var(--light-blue-color);
    font-size: 0.7rem;
    flex: 3;
}
@media (min-width:992px){
    .features{
        flex-direction: row;
    }
    .features .heading{
        flex: 1;
        margin: 0 0 80px;
        text-align: left;
        padding-right: 50px;
    }
    .features .feat-cont{
        flex: 1;
    }
    .features .feat h4{
        font-size: 0.8rem;
        margin-right: 30px;
    }
    .features .feat p{
        font-size: 0.7rem;
    }
}