.cta{
    background:-moz-linear-gradient(90deg, var(--purple-gradient-color) 0%, var(--orange-gradient-color) 100%); 
    background:-webkit-linear-gradient(90deg, var(--purple-gradient-color) 0%, var(--orange-gradient-color) 100%);
    background:-o-linear-gradient(90deg, var(--purple-gradient-color) 0%, var(--orange-gradient-color) 100%);
    background:-ms-linear-gradient(90deg, var(--purple-gradient-color) 0%, var(--orange-gradient-color) 100%);
    background:linear-gradient(90deg, var(--purple-gradient-color) 0%, var(--orange-gradient-color) 100%);
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 70px;
}
.cta .content{
    margin-bottom: 20px;
    color: var(--black-color);
}
.cta .content p{
    font-size: 0.7rem;
    margin-bottom: 10px;
}
.cta .content h3{
    font-weight: 600;
    font-size: 1.2rem;
}
.cta .btn{
    background-color: var(--black-color);
    border-radius: 20px;
    transition: 0.3s;
}
.cta .btn:hover{
    background-color: var(--dark-blue-color);
}
@media (min-width:576px){
    .cta{
        border-radius: 7px;
    }
}
@media (min-width:922px){
    .cta{
        flex-direction: row;
        align-items: center;
        padding: 30px;
    }
    .cta .content{
        text-align: left;
        margin-right: auto;
        margin-bottom: 0;
    }
}